.style
body {
    background-color: powderblue;
  }
  h1{
    color: rgb(93, 139, 187);
    text-align: left;
    margin: 30px;
      }
  
  .day-forecast{
    text-align: left;
    display: flex;
    align-items: flex-end;
    width: 70%;
    border: 5px solid rgb(93, 139, 187);
    padding: 50px;
    margin: 30px;
  }
  p:first-line{ font-weight:bold; }
 
